
body {
	background-image: url("dirt.png");
}

#content {
	margin: auto;
	width: 852px;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	background: url("stone.png");
}

h1, h2 {
	background-color: black;
}

img {
	display: block; margin: auto;
}

a {
	color:yellow;
}

pre {
	width: 80ch;
	margin: auto;
	padding: 1em;
}